/*
 * CSS stylesheet for home page
 */

div.blog {
    margin: 10px 10px 10px 10px;
    border: 2px solid darkgrey;
}

td {
    text-align: center;
}
td.name {
    width: 50px;
}

td.timestamp {
    width: 50px;
}

td.operator {
    width: 50px;
}

td.frame {
    width: 30px;
}